@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
    --dark-primaray:#1b1e23;
    --blue-secondary:#49a9d1;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

header{
    background-color: var(--dark-primaray);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--blue-secondary)

}
header span.logo:hover{
     color: var(--blue-secondary);
     
     }

.logo{
   text-decoration: none;
   
   
}     
header ul{
    display: flex;
    list-style: none;
    


}

body{
    font-family: 'Roboto', sans-serif;

}

header ul li {

    margin-right: 20px;

}

header ul li a{
    color: #fff;
    text-decoration: none;
}

header ul li a:hover{
    color: var(--blue-secondary);

}

header button {
    padding: 10px 20px;
    background-color: var(--dark-primaray);
    border: 2px solid var(--blue-secondary);
    border-radius: 10px;
    color: var(--blue-secondary);
    
}

header button:hover{
    color: #fff;
    background-color: var(--blue-secondary);
    cursor: pointer;
}
/* section Hero homepage */
section.hero-section {
    background-color: var(--dark-primaray);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 120px 0 250px;
}

.hero-section__title {
  font-size: 48px;
  font-family: bold;
}
.social-icons {
    margin: 30px 0;
}

.social-icons li {

    margin-right: 15px;
}
ul.social-icons {
    list-style: none;
    display: flex;

}

.social-icons li > a {
    text-decoration: none;
    color: #fff;

}

.social-icons li a > i.fa-facebook:hover {
    color: #3b5998;
}

.social-icons li a > i.fa-instagram:hover{
    color: #feda75;
}

.social-icons li a > i.fa-linkedin:hover{
    color: #0072b1;
}

.social-icons li a > i.fa-twitter:hover{
    color: #00acee;
}

.btn{
    padding: 10px 5px;
    color: white;
    background-color: var(--blue-secondary);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #0072b1;

}